body {
    line-height: 1;
    overflow-y: hidden;
}

.ivu-badge-count {
    top: -6px;
    line-height: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0 4px;
}

.ivu-tag-dot {
    border: none !important;
    background: transparent !important;
}

.ivu-table table {
    width: 100% !important;
}

.icon {
    vertical-align: -0.3em;
    overflow: hidden;
}